@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.card a{
    margin: 0;
}
.card-title{
    color: black;
    
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}
.run-time{
    color: rgb(15, 15, 13);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: .4rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.card-text{
    color: black;
    font-size: .8rem;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Baloo Tammudu 2', cursive;
}

/* Start Searching Div */
.search-algo{
    padding-top: 3%;
    background-color: black;
}
.search-algo h2{
    text-align: center;
    padding-bottom: 3%;
    color: rgb(165, 162, 158);
    text-transform: uppercase;
}
.container{
    padding-bottom: 3%;
}

.col-sm-6{
    padding-bottom: 3%;
}

.col-mg-4 {
    padding-bottom: 3%;
}

.col-lg-4{
    padding-bottom: 3%;
}


/* End Search Div  */

.page-limit
{
    background: #708090;
    display: block;
    border: 1px solid #2F4F4F;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #708090;
    max-width: 100%;
    max-height: 100%;
    height: 0.2rem;
}

/* Start Sorting Div  */
.sorting-algo h2{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 2%;
    color: rgb(165, 162, 158);
    text-transform: uppercase;
    margin: auto;
}
.carousel-indicators{
    margin: auto;
    
}
.sorting-cards{
    width: 50%;
    margin: auto;
}


.sorting-algo{
    background-color: black;

}
.indicate{
    padding-top: 1rem;
}
/* End Sorting Div  */
/* Start Designer Section  */
body{
    overflow-x: hidden;
    color: #505962;
    height: 100%;
    padding-bottom: 0px; /* padding instead of margin */
    
}
.owner-section{
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    background: black;
    max-width: 100%;
    max-height: 100%;
}
.socket{
    margin:0;
}
.designer{
    color: #2F4F4F;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-family: 'Architects Daughter', cursive;
}

.designer a{
    color: inherit;
    text-decoration: none;
}
.designer a:hover{
    font-size: 1rem;
}
/* End Designer Section  */

@media (max-width: 576px){
    .sorting-cards{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
}